#container{
    width: 600px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid #a9d2f5;
    background-color: #a9d2f5;
    gap: 1px;
    display: grid;
    grid-template: 240px 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 100px rgb(62, 107, 255);
    border-radius: 10px;
}

#container>div{
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: #6090ab;
    font-family: sans-serif;
    border-radius: 10px;
    font-size: 70px;

}
#container>div:hover{
    background-color: #f56672;
}

div#screen{
    justify-content: right;
    pointer-events: none;
    padding-right: 24px;
    grid-column: 1/5;
    font-size: 100px;
}

.wide{
    grid-column-end: span 2;
}